In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline

In [2]:
data = pd.read_csv('train.csv')

In [3]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [5]:
string_column = list(data.dtypes[data.dtypes == 'object'].index)

In [6]:
string_column

['Item_Identifier',
 'Item_Fat_Content',
 'Item_Type',
 'Outlet_Identifier',
 'Outlet_Size',
 'Outlet_Location_Type',
 'Outlet_Type']

In [7]:
data.columns = data.columns.str.lower()

In [8]:
data.shape

(8523, 12)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   item_identifier            8523 non-null   object
 1   item_weight                7060 non-null   float64
 2   item_fat_content           8523 non-null   object
 3   item_visibility            8523 non-null   float64
 4   item_type                  8523 non-null   object
 5   item_mrp                   8523 non-null   float64
 6   outlet_identifier          8523 non-null   object
 7   outlet_establishment_year  8523 non-null   int64
 8   outlet_size                6113 non-null   object
 9   outlet_location_type       8523 non-null   object
 10  outlet_type                8523 non-null   object
 11  item_outlet_sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [10]:
data.isna().sum()

item_identifier                 0
item_weight                  1463
item_fat_content                0
item_visibility                 0
item_type                       0
item_mrp                        0
outlet_identifier               0
outlet_establishment_year       0
outlet_size                  2410
outlet_location_type            0
outlet_type                     0
item_outlet_sales               0
dtype: int64

In [11]:
num_missing = (data == 0).sum()

In [12]:
num_missing

item_identifier                0
item_weight                    0
item_fat_content               0
item_visibility              526
item_type                      0
item_mrp                       0
outlet_identifier              0
outlet_establishment_year      0
outlet_size                    0
outlet_location_type           0
outlet_type                    0
item_outlet_sales              0
dtype: int64

In [13]:
dar = data.columns

In [14]:
data['item_visibility']=data['item_visibility'].replace(0, np.nan)

In [15]:
num_missing = (data == 0).sum()

In [16]:
num_missing

item_identifier              0
item_weight                  0
item_fat_content             0
item_visibility              0
item_type                    0
item_mrp                     0
outlet_identifier            0
outlet_establishment_year    0
outlet_size                  0
outlet_location_type         0
outlet_type                  0
item_outlet_sales            0
dtype: int64

In [17]:
data.fillna(data.mean(), inplace=True)

In [18]:
data.isna().sum()

item_identifier                 0
item_weight                     0
item_fat_content                0
item_visibility                 0
item_type                       0
item_mrp                        0
outlet_identifier               0
outlet_establishment_year       0
outlet_size                  2410
outlet_location_type            0
outlet_type                     0
item_outlet_sales               0
dtype: int64

In [19]:
"""thre are one column didn't fill withe mean because that catigorical data , there is some approache to fillna in
categorical variables 
first approache : fillna withe most common occurence # df.apply(lamda x: x.filln(x.value_counts))
second approache :fillna withe 'unknown', or 'missing'
third approache :from sklearn_pandas import categoricalimputer
and we will turn the categorical variable we need to convert it to array 

"""

"thre are one column didn't fill withe mean because that catigorical data , there is some approache to fillna in\ncategorical variables \nfirst approache : fillna withe most common occurence # df.apply(lamda x: x.filln(x.value_counts))\nsecond approache :fillna withe 'unknown', or 'missing'\nthird approache :sklearn_pandas \n\n"

In [27]:
data['outlet_size'].value_counts()

Medium    5203
Small     2388
High       932
Name: outlet_size, dtype: int64

In [23]:
# i well use the first approach filling na with most common occurence.
data.apply(lambda x:x.fillna(x.value_counts().index[0], inplace=True))

item_identifier              None
item_weight                  None
item_fat_content             None
item_visibility              None
item_type                    None
item_mrp                     None
outlet_identifier            None
outlet_establishment_year    None
outlet_size                  None
outlet_location_type         None
outlet_type                  None
item_outlet_sales            None
dtype: object

In [25]:
data.isna().sum()

item_identifier              0
item_weight                  0
item_fat_content             0
item_visibility              0
item_type                    0
item_mrp                     0
outlet_identifier            0
outlet_establishment_year    0
outlet_size                  0
outlet_location_type         0
outlet_type                  0
item_outlet_sales            0
dtype: int64

In [26]:
data

,item_identifier,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_identifier,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.070482,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.070482,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,Medium,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [38]:
data.nunique()

item_identifier              1559
item_weight                   416
item_fat_content                5
item_visibility              7880
item_type                      16
item_mrp                     5938
outlet_identifier              10
outlet_establishment_year       9
outlet_size                     3
outlet_location_type            3
outlet_type                     4
item_outlet_sales            3493
dtype: int64